In [1]:
import pandas as pd

In [17]:
data=pd.read_csv("mercedes.csv",low_memory=False)
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,88.53,k,t,av,e,d,y,l,o,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,76.26,az,w,n,c,d,x,j,x,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,9,80.62,az,t,n,f,d,x,l,e,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13,78.02,az,v,n,f,d,h,d,n,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
data.shape

(4210, 378)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4210 entries, 0 to 4209
Columns: 378 entries, ID to X385
dtypes: float64(349), object(29)
memory usage: 12.1+ MB

In [20]:
data_type=["object"]
category= list(data.select_dtypes(include=data_type))   #object veri tipine sahip olan deÄŸiÅŸkenler - kategorik veriler iÃ§in
data=data[category]
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X19,X20,X21,X22,X23,X24,X26,X27,X28,X29
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,0,0,0,0,0,0,0,1,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,0,1,1,1
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,1,1,1
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,1,1,1

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4210 entries, 0 to 4209
Data columns (total 29 columns):
ID     4210 non-null object
y      4210 non-null object
X0     4210 non-null object
X1     4210 non-null object
X2     4210 non-null object
X3     4210 non-null object
X4     4210 non-null object
X5     4210 non-null object
X6     4210 non-null object
X8     4210 non-null object
X10    4210 non-null object
X11    4210 non-null object
X12    4210 non-null object
X13    4210 non-null object
X14    4210 non-null object
X15    4210 non-null object
X16    4210 non-null object
X17    4210 non-null object
X18    4210 non-null object
X19    4210 non-null object
X20    4210 non-null object
X21    4210 non-null object
X22    4210 non-null object
X23    4210 non-null object
X24    4210 non-null object
X26    4210 non-null object
X27    4210 non-null object
X28    4210 non-null object
X29    4210 non-null object
dtypes: object(29)
memory usage: 953.9+ KB

In [11]:
for col in data.columns:
    print(col,":",data[col].nunique())

ID : 4210
y : 2616
X0 : 48
X1 : 28
X2 : 45
X3 : 8
X4 : 5
X5 : 30
X6 : 13
X8 : 26
X10 : 5
X11 : 3
X12 : 5
X13 : 5
X14 : 5
X15 : 4
X16 : 4
X17 : 5
X18 : 4
X19 : 5
X20 : 5
X21 : 4
X22 : 5
X23 : 5
X24 : 4
X26 : 4
X27 : 5
X28 : 5
X29 : 5

In [22]:
columns=["X0","X1","X2","X3","X4","X5","X6","X8"]

In [25]:
data=pd.read_csv("mercedes.csv",usecols=columns)
data.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [26]:
for col in data.columns:
    print(col,":",data[col].nunique())

X0 : 48
X1 : 28
X2 : 45
X3 : 8
X4 : 5
X5 : 30
X6 : 13
X8 : 26

In [27]:
pd.get_dummies(data,drop_first=True).head()

,X0_aa,X0_ab,X0_ac,X0_ad,X0_af,X0_ai,X0_aj,X0_ak,X0_al,X0_am,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data.X2.value_counts()

as                     1659
ae                      496
ai                      415
m                       367
ak                      265
r                       153
n                       137
s                        94
f                        87
e                        81
aq                       63
ay                       54
a                        47
t                        29
k                        25
i                        25
b                        21
ao                       20
z                        19
ag                       19
d                        18
ac                       13
g                        12
y                        11
ap                       11
x                        10
aw                        8
h                         6
at                        6
an                        5
al                        5
q                         5
ah                        4
p                         4
av                        4
au                        3
c                         1
am                        1
o                         1
{"position":3198625       1
ar                        1
aa                        1
j                         1
l                         1
af                        1
Name: X2, dtype: int64

In [38]:
max_ten = [x for x in data.X2.value_counts().head(10).index]  #list comprehension

In [39]:
max_ten

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [40]:
import numpy as np

In [41]:
for label in max_ten:
    data[label]=np.where(data["X2"]==label,1,0)

In [42]:
data.head()

   X0 X1  X2 X3 X4 X5 X6 X8  as  ae  ai  m  ak  r  n  s  f  e
0   k  v  at  a  d  u  j  o   0   0   0  0   0  0  0  0  0  0
1   k  t  av  e  d  y  l  o   0   0   0  0   0  0  0  0  0  0
2  az  w   n  c  d  x  j  x   0   0   0  0   0  0  1  0  0  0
3  az  t   n  f  d  x  l  e   0   0   0  0   0  0  1  0  0  0
4  az  v   n  f  d  h  d  n   0   0   0  0   0  0  1  0  0  0

In [49]:
data[["X2"]+max_ten].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

## One Hot Encoding AlgoritmasÄ±

In [81]:
def myOwnOneHotEncoding(df):
    for col in df.columns:
        max_ten=[X for X in df[col].value_counts().head(10).index]
        for label in max_ten:
            df[col+'_'+label]=np.where(df[col]==label,1,0)

In [82]:
data=pd.read_csv("mercedes.csv",low_memory=False)
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,88.53,k,t,av,e,d,y,l,o,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,76.26,az,w,n,c,d,x,j,x,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,9,80.62,az,t,n,f,d,x,l,e,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13,78.02,az,v,n,f,d,h,d,n,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
columns=["X0","X1","X2","X3","X4","X5","X6","X8"]

In [84]:
data=pd.read_csv("mercedes.csv",usecols=columns)
data.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [85]:
myOwnOneHotEncoding(data)

In [86]:
data.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X0_z,X0_ak,...,X8_j,X8_s,X8_f,X8_n,X8_i,X8_e,X8_r,X8_a,X8_w,X8_v
0,k,v,at,a,d,u,j,o,0,0,...,0,0,0,0,0,0,0,0,0,0
1,k,t,av,e,d,y,l,o,0,0,...,0,0,0,0,0,0,0,0,0,0
2,az,w,n,c,d,x,j,x,0,0,...,0,0,0,0,0,0,0,0,0,0
3,az,t,n,f,d,x,l,e,0,0,...,0,0,0,0,0,1,0,0,0,0
4,az,v,n,f,d,h,d,n,0,0,...,0,0,0,1,0,0,0,0,0,0

In [87]:
data.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X0_z', 'X0_ak', 'X0_y',
       'X0_ay', 'X0_t', 'X0_x', 'X0_o', 'X0_f', 'X0_n', 'X0_w', 'X1_aa',
       'X1_s', 'X1_b', 'X1_l', 'X1_v', 'X1_r', 'X1_i', 'X1_a', 'X1_c', 'X1_o',
       'X2_as', 'X2_ae', 'X2_ai', 'X2_m', 'X2_ak', 'X2_r', 'X2_n', 'X2_s',
       'X2_f', 'X2_e', 'X3_c', 'X3_f', 'X3_a', 'X3_d', 'X3_g', 'X3_e', 'X3_b',
       'X3_start:1610438', 'X4_d', 'X4_a', 'X4_b', 'X4_c', 'X4_end:3220873',
       'X5_w', 'X5_v', 'X5_q', 'X5_r', 'X5_s', 'X5_d', 'X5_n', 'X5_p', 'X5_m',
       'X5_i', 'X6_g', 'X6_j', 'X6_d', 'X6_i', 'X6_l', 'X6_a', 'X6_h', 'X6_k',
       'X6_c', 'X6_b', 'X8_j', 'X8_s', 'X8_f', 'X8_n', 'X8_i', 'X8_e', 'X8_r',
       'X8_a', 'X8_w', 'X8_v'],
      dtype='object')